.answer--button {
    border: 0.794239px solid #4d5b9e;
    border-radius: 7.94239px;
    font-family: 'Karla';
    padding: 8px 10px;
    background: transparent;
    min-width: 65.92px;
    cursor: pointer;
    margin: 5px 15px 15px 0
}
.answer--button:active{
    box-shadow: inset 2px 2px #5d5d5d;
    transform: scale(0.95);
}
.question--box{
    border-bottom: 1px solid #DBDEF0;
    padding: 0 0 15px 0;
}
.answer--selected{
    background: #D6DBF5;
}
.correct--answer{
    background: #94D7A2;
}
.wrong--answer{
    background: #F8BCBC;
}